Repository lingoda/langfuse-bundle: changes, and which pre-commit hooks are due for each by the changed paths.
All: composer-validate, php-lint, ecs, phpstan, phpstan-tests, phpunit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-added-large-files
            args: ['--maxkb=6000']
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-vcs-permalinks
          - id: check-xml
          - id: end-of-file-fixer
          - id: forbid-new-submodules
          - id: mixed-line-ending
          - id: trailing-whitespace

    - repo: local
      hooks:
          - id: composer-validate
            name: Validate composer
            language: system
            entry: composer validate
            files: composer.json
            pass_filenames: false
          - id: php-lint
            name: PHP lint
            language: system
            entry: php -l
            files: \.php$
          - id: ecs
            name: EasyCodingStandard
            language: system
            entry: vendor/bin/ecs check --fix --config=ecs.php
            files: \.php$
          - id: phpstan
            name: PhpStan
            language: system
            pass_filenames: false
            entry: vendor/bin/phpstan analyse
            files: ^(.*\.php|composer.lock)$
            args: [ '-c', './phpstan.neon' ]
          - id: phpstan-tests
            name: PhpStan tests
            language: system
            pass_filenames: false
            entry: vendor/bin/phpstan analyse
            files: ^(.*\.php|composer.lock)$
            args: [ '-c', './phpstan.tests.neon' ]
          - id: phpunit
            name: PhpUnit tests
            language: system
            pass_filenames: false
            entry: bash -c 'XDEBUG_MODE=off vendor/bin/phpunit'
            files: ^(.*\.php|composer.lock)$

Fixed phpstan issues on tests
  phpstan.tests.neon
  tests/TestCase.php
  tests/Unit/Client/PromptClientTest.php
  tests/Unit/Command/CachePromptCommandTest.php
  tests/Unit/Deserialization/PromptDeserializerTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

Fixed autowiring parameter on TraceManager
  config/services.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

Improved storage exception throwing and fallback service registration
  config/services.php
  src/LingodaLangfuseBundle.php
  src/Storage/StorageFactory.php
  tests/Unit/LingodaLangfuseBundleTest.php
  tests/Unit/Storage/StorageFactoryTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

LW-31678 Add API to get compiled prompts
  CHANGELOG
  README.md
  src/Prompt/PromptRegistry.php
  tests/Unit/Prompt/PromptRegistryTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

LW-31678 Add API to get compiled prompts (#1)
  CHANGELOG
  README.md
  src/Prompt/PromptRegistry.php
  tests/Unit/Prompt/PromptRegistryTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

Fix add getCompiled method to PromptManagerInterface
  CHANGELOG
  src/Prompt/PromptRegistry.php
  src/Prompt/PromptRegistryInterface.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

feat: allow Symfony 8
  .github/workflows/ci.yaml
  composer.json
  src/LingodaLangfuseBundle.php
Due: composer-validate, php-lint, ecs, phpstan, phpstan-tests, phpunit

feat: allow Symfony 8 (#3)
  .github/workflows/ci.yaml
  composer.json
  src/LingodaLangfuseBundle.php
Due: composer-validate, php-lint, ecs, phpstan, phpstan-tests, phpunit

feat!: ai-sdk 2.1 and ai-bundle 2.0, Jev decision tracing, trace_content and prompt linking (2.0)
  .github/workflows/ci.yaml
  CHANGELOG
  README.md
  composer.json
  config/services.php
  src/Client/TraceClient.php
  src/DependencyInjection/Compiler/TraceProviderPlatformsPass.php
  src/LingodaLangfuseBundle.php
  src/Message/FlushLangfuseTraceHandler.php
  src/PhpStan/Types.php
  src/Platform/DecisionPlatformDecorator.php
  src/Platform/LangfusePlatformDecorator.php
  src/Prompt/PromptReference.php
  src/Prompt/PromptRegistry.php
  src/Prompt/PromptRegistryInterface.php
  src/Tracing/SyncTraceFlusher.php
  src/Tracing/TraceManager.php
  src/Tracing/TraceManagerInterface.php
  tests/Integration/AiBundleTracingTest.php
  tests/Integration/config/ai_bundle_test.yaml
  tests/Integration/config/ai_bundle_without_typesafe_test.yaml
  tests/Unit/Client/TraceClientTest.php
  tests/Unit/DependencyInjection/Compiler/TraceProviderPlatformsPassTest.php
  tests/Unit/LingodaLangfuseBundleTest.php
  tests/Unit/Message/FlushLangfuseTraceHandlerTest.php
  tests/Unit/Platform/DecisionPlatformDecoratorTest.php
  tests/Unit/Platform/LangfusePlatformDecoratorTest.php
  tests/Unit/Prompt/PromptRegistryTest.php
  tests/Unit/Tracing/SyncTraceFlusherTest.php
  tests/Unit/Tracing/TraceManagerTest.php
Due: composer-validate, php-lint, ecs, phpstan, phpstan-tests, phpunit

feat!: send traces over OpenTelemetry for Langfuse v4, drop dropsolid
  CHANGELOG
  README.md
  composer.json
  config/services.php
  phpstan.tests.neon
  src/Client/LangfuseConnection.php
  src/Client/OtlpTraceExporter.php
  src/Client/PromptClient.php
  src/Client/TraceClient.php
  src/Command/TestConnectionCommand.php
  src/LingodaLangfuseBundle.php
  src/PhpStan/Types.php
  src/Tracing/SyncTraceFlusher.php
  src/Tracing/TraceManager.php
  tests/Unit/Client/LangfuseConnectionTest.php
  tests/Unit/Client/OtlpTraceExporterTest.php
  tests/Unit/Client/PromptClientTest.php
  tests/Unit/Client/TraceClientTest.php
  tests/Unit/Command/TestConnectionCommandTest.php
  tests/Unit/Tracing/SyncTraceFlusherTest.php
Due: composer-validate, php-lint, ecs, phpstan, phpstan-tests, phpunit

fix: stable trace ids for async retries, no retry for rejected traces, failed calls stay generations
  CHANGELOG
  src/Client/OtlpTraceExporter.php
  src/Message/FlushLangfuseTraceHandler.php
  src/PhpStan/Types.php
  src/Platform/DecisionPlatformDecorator.php
  src/Platform/LangfusePlatformDecorator.php
  src/Tracing/TraceManager.php
  tests/Unit/Client/OtlpTraceExporterTest.php
  tests/Unit/Message/FlushLangfuseTraceHandlerTest.php
  tests/Unit/Platform/DecisionPlatformDecoratorTest.php
  tests/Unit/Platform/LangfusePlatformDecoratorTest.php
  tests/Unit/Tracing/TraceManagerTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

refactor: narrow OTLP attribute values, cover timestamp rounding
  src/Client/OtlpTraceExporter.php
  tests/Unit/Client/OtlpTraceExporterTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

feat: export timeout, session and user ids, CI job without Messenger
  .github/workflows/ci.yaml
  CHANGELOG
  README.md
  src/Client/OtlpTraceExporter.php
  src/LingodaLangfuseBundle.php
  src/Platform/LangfusePlatformDecorator.php
  tests/Unit/Client/OtlpTraceExporterTest.php
  tests/Unit/LingodaLangfuseBundleTest.php
  tests/Unit/Message/FlushLangfuseTraceHandlerTest.php
  tests/Unit/Platform/LangfusePlatformDecoratorTest.php
  tests/Unit/Tracing/AsyncTraceFlusherTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

fix: wire tracing.export_timeout into the trace exporter
  config/services.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

test: kernel test for tracing.export_timeout wiring
  tests/Integration/AiBundleTracingTest.php
  tests/Integration/config/ai_bundle_without_typesafe_test.yaml
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

docs: usage keys as the OTLP exporter sends them
  README.md
Due: none

fix: failed generations carry zero usage, so Langfuse does not bill their input
  CHANGELOG
  src/Client/OtlpTraceExporter.php
  tests/Unit/Client/OtlpTraceExporterTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

docs: recipe and README use messenger.default_bus, export_timeout, no deprecated retry
  README.md
  manifest/config/packages/lingoda_langfuse.yaml
Due: none

DO-1094: replace styfle/cancel-workflow-action with native concurrency
  .github/workflows/ci.yaml
Due: none

DO-1094: replace styfle/cancel-workflow-action with native concurrency (#5)
  .github/workflows/ci.yaml
Due: none

fix: LW-34844 read prompts by label from the v2 endpoint
  CHANGELOG
  src/Client/PromptClient.php
  tests/Unit/Client/PromptClientTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

chore: LW-34844 drop two variables PHPStan 2.3 reports as never read
  src/Command/CachePromptCommand.php
  tests/Unit/Tracing/TraceManagerTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit

LW-34844: [ABSENCE AI] The Langfuse bundle ignores the prompt label (#6)
  CHANGELOG
  src/Client/PromptClient.php
  src/Command/CachePromptCommand.php
  tests/Unit/Client/PromptClientTest.php
  tests/Unit/Tracing/TraceManagerTest.php
Due: php-lint, ecs, phpstan, phpstan-tests, phpunit
